import %workspace%/tools/rc/correctness.bazelrc
import %workspace%/.java.bazelrc
import %workspace%/.remote-cache.bazelrc
import %workspace%/.rbe.bazelrc
import %workspace%/.ci.bazelrc

common --noenable_bzlmod
common --enable_platform_specific_config

build --jobs=auto
build --action_env=HOME
build --action_env=USE_BAZEL_VERSION=7.5.0

try-import %workspace%/user.bazelrc
