common --noenable_bzlmod


build --java_language_version=11
build --java_runtime_version=remotejdk_11
build --tool_java_language_version=11
build --tool_java_runtime_version=remotejdk_11
build --javacopt="--release 11"

# CI
common:ci --announce_rc

build:ci --jobs 2
test:ci --jobs 2

test:ci --test_output=streamed

build:ci --verbose_failures
test:ci --verbose_failures

test:ci --flaky_test_attempts=3 
