import ../../tools/rc/correctness.bazelrc

common --noenable_bzlmod

build --java_language_version=11
build --java_runtime_version=remotejdk_11
build --tool_java_language_version=11
build --tool_java_runtime_version=remotejdk_11

# CI
common:ci --announce_rc
build:ci --jobs 2
build:ci --verbose_failures
